@charset "utf-8";

@font-face {
    font-family: "idroid";
    src: url(fonts/idroid.otf);
}

/* Color Theme Swatches in Hex */
.color-theme_Screenshot-2024-09-29-at-12-30-25-desafio-android---desafio-android-1-hex { color: #1A5C38; }
.color-theme_Screenshot-2024-09-29-at-12-30-25-desafio-android---desafio-android-2-hex { color: #3BD27F; }
.color-theme_Screenshot-2024-09-29-at-12-30-25-desafio-android---desafio-android-3-hex { color: #84E1AD; }
.color-theme_Screenshot-2024-09-29-at-12-30-25-desafio-android---desafio-android-4-hex { color: #1A5C38; }
.color-theme_Screenshot-2024-09-29-at-12-30-25-desafio-android---desafio-android-5-hex { color: #2FA866; }

body {
    margin: 0px;
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-image: linear-gradient(to bottom, #4CDE8D, #2B6E4A 80%);
    color: white;
    margin: 0px;
}

header > h1 {
    margin: 0px;
    text-align: center;
    padding: 25px;
    font-size: 1.6em;
    font-weight: bolder;
}

header > h2 {
    margin: 0px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: lighter;
    font-size: 1.2em;
}

nav {
    margin: 0px 18px;
    padding: 10px 0px;
}

nav > a {
    padding-right: 11px;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 50px;
}

section {
    margin: 0px 20px;
}

article > h1 {
    margin: 0px;
    font-family: "idroid", sans-serif;
    font-size: 2em;
    color: #1A5C38;
    font-weight: normal;
    padding-top: 20px;
}

p > a {
    color: #1A5C38;
    font-weight: bold;
}

article > h2 {
    background-image: linear-gradient(to right, #C5EBD6, white 90%);
    font-family: "idroid", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: #1A5C38;
    padding: 0px 8px;
}

#video {
    background-color: #1A5C38;
    margin: 0px 0px 15px;
}

iframe {
    margin: auto;
}

#extra {
    background-color: #C5EBD6;
    border-radius: 10px;
}

#extra > p {
    padding: 0px 12px;
    text-align: justify;
}

p#penultimoParagrafo {
    padding-bottom: 30px;
}

p#ultimoParagrafo {
    padding-bottom: 45px;
}

#extra > h2 {
    margin: 0px;
    background-image: none;
    background-color: #3BAC6E;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 10px;
    color: white;
}

article > p {
    text-align: justify;
}

footer {
    margin: 0px;
    background-color: #1A5C38;
    text-align: center;
    color: white;
    padding: 12px;
}

footer > p {
    margin: 0px;
}

strong > a {
    color: white;
}